    /* Estilos personalizados */
body {
    background-color: #405b96;
    color: #ffffff; /* Letra blanca */
}

.contenedor-secciones {
    display: flex;
    justify-content: space-around;
}

.seccion {
    flex: 1;
    text-align: center;
    padding: 20px;
    margin: 0 10px; 
}

.seccion h2 {
    margin: 0;
}
.header {
    background-color: transparent;
}

.main-content {
    background-color: transparent;
    color: #ffffff;
    padding: 50px 0;
}

.description {
    font-size: 18px;
    margin-top: 20px;
    background-color: #405b96; /* Color de fondo del div de descripción */
    padding: 20px; /* Añadir un poco de espacio alrededor del texto */
}

.page-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.circular-image {
    overflow: hidden;
    border-radius: 50%;
    width: 200px; /* Tamaño del círculo */
    height: 200px; /* Tamaño del círculo */
    margin: 0 auto 20px; /* Centrar y espacio abajo */
}

.circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
    .header {
    padding: 10px 0;
    }
}
